<!DOCTYPE html>
<html>
<head>
    <title>茅草屋</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="descript" />
    <meta name="keywords" content="sddsds" />
    <meta name="generator" content="nopCommerce" />
  
   <link href="/Themes/DefaultClean/Content/styles.css" rel="stylesheet" type="text/css" />
   <link href="/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css" />

    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="/Scripts/public.common.js"></script>
    <script src="/Scripts/public.ajaxcart.js"></script>



    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2013-->
</head>
<body>
    @RenderBody()
</body>
</html>
