@model RipeTangerines.Models.Customer.CustomerInfoModel
@using RipeTangerines.Models.Customer;
@using  Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
 
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
 
<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>我的账户 - 基本资料</h1>
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
        }
    </div>
</div>
